<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= farm.name %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('../partials/navbar') %>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-5 text-center">
          <%- include('../partials/flash') %>

          <div class="card mb-4">
            <h1 class="card-header"><%= farm.name %></h1>
            <div class="card-body">
              <p
                class="badge bg-dark bg-gradient text-wrap fs-5 text-uppercase"
              >
                Owner: <%=farm.author.firstName %> <%=farm.author.lastName %>
              </p>
              <p class="text-primary">City: <%= farm.city%></p>
              <p class="text-primary">Email: <%= farm.email %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-5 text-center">
          <div class="card">
            <h2 class="card-header">Products</h2>
            <ul class="list-group list-group-flush">
              <% for(let product of farm.products) {%>
              <li class="list-group-item">
                <a href="/products/<%=product._id%>" class="btn btn-primary"
                  ><%=product.name%>
                  <span class="material-icons">open_in_new</span></a
                >
              </li>
              <% } %>
            </ul>
            <% if(currentUser) {%> <%
            if(currentUser._id.equals(farm.author._id)) {%>
            <a href="/farms/<%=farm._id%>/products/new" class="btn btn-success"
              >Add Product</a
            >
            <% } %> <% } %>
          </div>
        </div>
      </div>
      <div class="container justify-content-center">
        <div class="row justify-content-center">
          <div class="col-3 text-center">
            <a href="/farms" class="btn btn-outline-dark">All Farms</a>
          </div>
          <div class="col-3"></div>
          <div class="col-3"></div>
          <div class="col-3 text-center">
            <% if(currentUser) {%> <%
            if(currentUser._id.equals(farm.author._id)) {%>
            <form action="/farms/<%=farm._id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger">DELETE FARM</button>
            </form>
            <% } %> <% } %>
          </div>
        </div>
      </div>
    </div>
    <!--scripts-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
